@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/*RESET AND INITIAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  /* propriedades para a fonte ficar mais legível */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

i:hover,
.icon-label:hover {
  color: white;
}
.header {
  padding: 0 20%;
  background-color: #283e4a;
  height: 52px;
  width: 100%;
  margin: auto;
  display: flex;
}

.left-header {
  display: flex;
  /* align-self: flex-start; */
}

.right-header {
  display: flex;
  margin-left: auto;
}

.link-icon {
  height: 34px;
  width: 34px;
  border-radius: 3px;
}

.logo {
  padding-top: 9px;
  margin-right: 12px;
}

.Search-form {
  padding-top: 9px;
  margin: 0 32px 0 0;
  min-width: 280px;
}

.search {
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #e1e9ee;
  padding: 0 8px 0 28px;
  line-height: 34px;
  color: #283e4a;
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  height: 34px;
  background-image: url("images/search-icon.png");
  background-position: 6px 6px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.nav {
  display: inline-flex;
  padding-top: 9px;
  border-right: 1px solid #5c6f7c;
}

.nav-internal {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 44px;
  width: 90px;
  margin-left: 0px;
}

.icon-size {
  height: 24px;
  width: 24px;
  color: #c7d1d8;
  margin: 0 auto;
}

.link_internal {
  text-decoration: none;
  font-family: Arial;
  font-size: 13px;
}

.icon-label {
  color: #c7d1d8;
}

.pic {
  border: 1px solid #c5cfd7;
  border-radius: 15px;
}

.nav2 {
  display: flex;
  padding-top: 9px;
}

.link_internal-2 {
  text-decoration: none;
  font-family: Arial;
  font-size: 13px;
  color: #d1c69f;
}

.nav-internal-2 {
  width: 80px;
  text-align: center;
}

ul {
  list-style: none;
}

div.postcontainer {
  width: 50%;
  margin: 0 auto;
  padding: 15px 0px;
}

/*main container > MAIN SECTION*/

.container > div#main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  margin-bottom: 100px;
}

div.postcontainer main#main-section {
  grid-area: main-section;
  margin: 0 auto;
  width: 80%;
}

/*main container > main section > SHARE BOX & FEED SORT*/

main#main-section div#share-box {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

main#main-section div#share-box div#button-box {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#share-box div#button-box .fas {
  font-size: 18px;
}

main#main-section div#share-box div#button-box button {
  background: #fff;
  border: 0;
  color: #696c6f;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding: 26px 26.5px;
  cursor: pointer;
}

main#main-section div#share-box div#button-box button#btn-post {
  width: 100%;
  text-align: left;
  padding: 26px 17px;
}

main#main-section div#share-box div#button-box button#btn-post:hover {
  color: #0073b1;
}

main#main-section
  div#share-box
  div#button-box
  button#btn-post:hover
  span#btn-text {
  text-decoration: underline;
}

main#main-section div#share-box div#button-box button#btn-post span#btn-text {
  font-size: 16px;
  font-weight: bold;
  padding-left: 6px;
}

main#main-section div#share-box div#button-box button#btn-document {
  border-right: 0;
  padding: 26px 30px;
}

main#main-section div#share-box div#button-box button#btn-picture:hover,
main#main-section div#share-box div#button-box button#btn-video:hover,
main#main-section div#share-box div#button-box button#btn-document:hover {
  background: #f3f6f8;
}

main#main-section div#link-box {
  padding: 13px 16px;
  background: #f3f6f8;
  font-size: 14px;
}

main#main-section div#link-box a {
  color: #0073b1;
  font-weight: bold;
  padding-right: 1px;
}

main#main-section div#link-box a:hover {
  text-decoration: underline;
}

main#main-section div#feed-sort {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

main#main-section div#feed-sort hr {
  flex: 1;
  border: 0;
  display: block;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#feed-sort button {
  border: 0;
  background: transparent;
  margin-left: 15px;
  padding-bottom: 4px;
  cursor: pointer;
}

main#main-section div#feed-sort button span {
  color: rgba(0, 0, 0, 0.6);
}

main#main-section div#feed-sort button span.fas {
  font-size: 18px;
  padding: 0 2px;
}
/*main container > main section > FEED POSTS*/

main#main-section article {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-bottom: 8px;
}

main#main-section article div#post-author {
  display: flex;
  padding: 14px 14px 0;
}

main#main-section article div#post-author a {
  flex: 1;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

main#main-section article div#post-author > div {
  cursor: pointer;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main#main-section article div#post-author > div:hover {
  background: #f3f6f8;
}

main#main-section article div#post-author > div > span {
  padding: 2px;
  font-size: 4px;
}

main#main-section article div#post-author a > div {
  display: flex;
}

main#main-section article div#post-author a > div img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 6px;
}

main#main-section article div#post-author a > div img#linkinimg {
  border-radius: 10%;
}
main#main-section article div#post-author a > div > div {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}

main#main-section article div#post-author a > div > div > span {
  line-height: 10px;
  margin-top: 4px;
  margin-left: 1px;
}

main#main-section article div#post-author a > div > div div strong {
  color: #000;
  font-size: 15px;
}

main#main-section article div#post-author a > div > div div strong:hover {
  color: #0073b1;
}

main#main-section article div#post-author a > div > div div span span {
  font-size: 14px;
  font-weight: bold;
}

main#main-section article div#post-data p {
  padding: 10px 14px 0;
}

main#main-section article div#post-data p a {
  color: #0073b1;
  font-weight: bold;
  text-decoration: underline;
}

main#main-section article div#post-data p#post-translation {
  padding-left: 7px;
}

main#main-section article div#post-data p#post-translation button {
  border: 0;
  background: #fff;
  color: #0073b1;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

main#main-section article div#post-data p#post-translation button:hover {
  background-color: #e8f7ff;
}

main#main-section article div#post-data img {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #e6e9ec;
  border-top: 1px solid #e6e9ec;
}

main#main-section article div#post-interactions div#interactions-amount {
  margin: 7px 16px;
  border-bottom: 1px solid #e6e9ec;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span.fas {
  font-size: 8px;
  padding: 3px;
  margin-right: 3px;
  border-radius: 50%;
  color: #f3f6f8;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span#amount-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 3px;
  cursor: pointer;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span#amount-info
  span {
  font-size: 14px;
  font-weight: bold;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span#like-icon {
  font-size: 10px;
  background: #0092e0;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span#heart-icon {
  font-size: 10px;
  background: #f67373;
}

main#main-section
  article
  div#post-interactions
  div#interactions-amount
  span#idea-icon {
  font-size: 10px;
  color: white;
  background: yellow;
}

main#main-section article div#post-interactions div#interactions-btns {
  margin: 4px 10px;
  display: flex;
}

main#main-section article div#post-interactions div#interactions-btns button {
  border: 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 14px;
  padding: 2px 5px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

main#main-section
  article
  div#post-interactions
  div#interactions-btns
  button:hover {
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.8);
}

main#main-section
  article
  div#post-interactions
  div#interactions-btns
  button
  span.far {
  font-size: 20px;
  margin-right: 5px;
}

main#main-section
  article
  div#post-interactions
  div#interactions-btns
  button
  span.fa-thumbs-up {
  margin-bottom: 4px;
}

main#main-section
  article
  div#post-interactions
  div#interactions-btns
  button
  span.fa-share-square {
  font-size: 18px;
}

/*container > CONTAINER MEDIA QUERY*/

@media only screen and (max-width: 1600px) {
  div.postcontainer {
    width: 60%;
  }
}

@media only screen and (max-width: 1000 px) {
  div.postcontainer {
    width: 80%;
  }
}

@media only screen and (max-width: 861px) {
  .container > div#main-wrapper {
    align-items: center;
  }

  div.postcontainer {
    width: 90%;
  }
}

@media only screen and (max-width: 1000 px) {
  div.postcontainer {
    width: 80%;
  }
}

@media only screen and (max-width: 660px) {
  div.container {
    padding: 0;
  }

  div.container main#main-section {
    max-width: 550px;
    width: 100%;
    margin: 0;
  }

  main#main-section div#share-box div#button-box button {
    display: none;
  }

  main#main-section div#share-box div#button-box button#btn-post {
    display: block;
    padding: 20px 17px;
    border-right: 0;
  }

  main#main-section div#feed-sort button {
    margin-right: 10px;
  }
  div.postcontainer {
    width: 90%;
  }
}
